= simple_form_for teacher do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :academic_title, collection: Teacher::TITLES, include_blank: false
  - if :subject_items.present?
    = f.association :subject_items, collection: SubjectItem.order(:title), label_method: :title, label: 'Subject Items', value_method: :id, as: :check_boxes
  = link_to t('shared.back'), teachers_path, class: 'btn btn-default'
  = f.button :submit