= simple_form_for payment do |f|
	= f.input :sum
	= f.input :date, as: :date, start_year: Date.today.year - 10, end_year: Date.today.year, order: [:day, :month, :year]
	= f.association :student, value_method: :id, :label_method :title, label: "Student", collection: Student.order(:last_name)
	= link_to t('shared.back'), payments_path, class: 'btn btn-default'
	= f.button :submit